body {
    background-color: red;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
img {
    width: 50%;
    display: block;
    margin: 20px auto;
}
  
p {
    font-size: 24px;
    color: white;
    margin: 0 20px;
}
  
@media (max-width: 768px) {
    body {
      background-color: green;
    }
  
    p {
      font-size: 18px;
    }
  
    img {
      width: 70%;
    }
}
  
@media (max-width: 425px) {
    body {
      background-color: blue;
    }
  
    p {
      font-size: 14px;
    }
  
    img {
      width: 100%;
    }
}
  